<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}Главная{% endblock %} | СпортКлуб</title>
    {% block head_meta %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block head_link %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/admin.css') }}" />
    {% endblock %}
    {% block head_script %}
        <script type="text/javascript" src="{{ asset('/js/jquery-2.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    <style>{% block head_style %}{% endblock %}</style>
    {% block head_additions %}{% endblock %}
</head>
<body>
{% include 'AppBundle::panel.html.twig' %}
<div class="container-fluid">
    <div class="container">
        <div class="col-sm-12 col-md-12 main" style="background-color:#EEEEEE;margin-top:15px;border-radius: 5px;">{% block body_content %}{% endblock %}</div>
    </div>
</div>
<div class="notices">{% include 'AppBundle::notices.html.twig' %}</div>
{% block body_additions %}{% endblock %}
</body>
</html>