<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('homepage') }}">СпортКлуб</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if app.user %}
            <ul  class="nav navbar-nav navbar-center">
                {% if is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) %}
                    <li{% if navigation.active == 'competitions' %} class="active"{% endif %}><a href="{{ url('site_competitions_index') }}">Список соревнований</a></li>
                    <li{% if navigation.active == 'users' %} class="active"{% endif %}><a href="{{ url('site_users_index') }}">Пользователи</a></li>
                    <li{% if navigation.active == 'sprav' %} class="active"{% endif %}><a href="{{ url('site_sprav_index') }}">Справочники</a></li>
                {% else %}
                    <li{% if navigation.active == 'competitions' %} class="active"{% endif %}><a href="{{ url('site_competitions_index') }}">Список соревнований</a></li>
                    <li{% if navigation.active == 'requests' %} class="active"{% endif %}><a href="{{ url('site_my_requests') }}">Мои заявки</a></li>
                    <li{% if navigation.active == 'mycompetitions' %} class="active"{% endif %}><a href="{{ url('site_my_competitions') }}">Мои прошедшие соревнования</a></li>
                {% endif %}
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
            {% if not app.user %}
            <li{% if navigation.active == 'login' %} class="active"{% endif %}><a href="{{ url('site_security_login') }}">Авторизация</a></li>
            <li{% if navigation.active == 'registration' %} class="active"{% endif %}><a href="{{ url('site_general_registration') }}">Регистрация</a></li>
            <li{% if navigation.active == 'remindpassword' %} class="active"{% endif %}><a href="{{ url('site_general_remindpassword') }}">Забыли пароль?</a></li>
            {% else %}
            <li {% if navigation.active == 'profile' %} class="active"{% endif %}><a href="{{ url('site_security_profile') }}">{{ app.user.userfio|e }}</a></li>
            <li><a href="{{ url('site_security_logout') }}">Выйти</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>