{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Соревнование{% endblock %}


{% block head_style %}
    p.bg-warning { padding: 15px; }
    .checkbox label { font-weight: bold; }
{% endblock %}

{% block body_content %}
    {% set competition = view.competition %}
    {% set step = 2 %}
    {% set hascomp = false %}
    {% if competition is not empty %}
        <h1 class="page-header">{{ competition.caption|e }}</h1>
    {% else %}
        <h1 class="page-header">Новое соревнование</h1>
    {% endif %}
    {% include 'AppBundle:Competitions:competition_navigation.html.twig' %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Участник</th>
            <th>Дата и время подачи заявки</th>
            <th>Статус</th>
        {% if is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) %}
            <th>Действия</th>
        {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for competitor in view.competitors %}
            {% if competitor.user == app.user %} {% set hascomp=true %}{% endif %}
            <tr>
                <td>
                    {{ competitor.user.userfio|e }}
                </td>
                <td>
                    {{ competitor.createdAt|date("d.m.Y h:m:s") }}
                </td>
                <td>
                    {{ competitor.status.caption|e }}
                </td>
            {% if is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) %}
                <td>
                    <a href="{{ url('site_competititor_change_status', {'competitor':competitor.id, 'status':'2'}) }}">Подтвердить</a>
                    <a href="{{ url('site_competititor_change_status', {'competitor':competitor.id, 'status':'3'}) }}">Отклонить</a>
                </td>
            {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    Не было заявок
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />
    {% if not is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) and not hascomp %}
    <a class="btn btn-success" href="{{ url('site_competitions_addcompetitor', {'competition':competition.id}) }}"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Подать заявку на участие</a>
    {% endif %}

{% endblock %}

{% block body_additions %}

{% endblock %}