<ul class="nav nav-tabs">
    {% set competition = view.competition %}
    {% if _step is not defined %}{% set _step = step %}{% endif %}
    {% if competition is not empty %}
        {% if _step == 1 %}<li class="active"><a href="javascript:void(0);">Общие данные</a></li>
        {% else %}<li><a href="{{ url('site_competitions_edit', {'competition': competition.id, 'step': 1}) }}">Общие данные</a></li>
        {% endif %}
        {% if _step == 2 %}<li class="active"><a href="javascript:void(0);">Список заявок/участников</a></li>
        {% else %}<li><a href="{{ url('site_competitions_edit', {'competition': competition.id, 'step': 2}) }}">Список заявок/участников</a></li>
        {% endif %}
        {% if _step == 3 %}<li class="active"><a href="javascript:void(0);">Результаты</a></li>
        {% else %}<li><a href="{{ url('site_competitions_edit', {'competition': competition.id, 'step': 3}) }}">Результаты</a></li>
        {% endif %}
        {% if is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) %}
            {% if _step == 4 %}<li class="active"><a href="javascript:void(0);">Ввод результатов</a></li>
            {% else %}<li><a href="{{ url('site_competitions_edit', {'competition': competition.id, 'step': 4}) }}">Ввод результатов</a></li>
            {% endif %}
        {% endif %}

    {% else %}
        <li class="active"><a href="javascript:void(0);">Общие данные</a></li>
        <li class="disabled"><a href="javascript:void(0);">Список заявок/участников</a></li>
        <li class="disabled"><a href="javascript:void(0);">Результаты</a></li>
    {% endif %}
</ul>