{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Соревнование{% endblock %}


{% block head_style %}
    p.bg-warning { padding: 15px; }
    .checkbox label { font-weight: bold; }
{% endblock %}

{% block body_content %}
    {% set competition = view.competition %}
    {% set step = 1 %}
    {% set form = forms.competition %}

    {% if competition is not empty %}
        <h1 class="page-header">{{ competition.caption|e }}</h1>
    {% else %}
        <h1 class="page-header">Новое соревнование</h1>
    {% endif %}
    {% include 'AppBundle:Competitions:competition_navigation.html.twig' %}
    <div class="page" style="max-width:700px;margin-top:25px;">

        {% set form = forms.competition %}
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        {% if is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) %}
        {% set errors = form.caption.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.caption, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.caption.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.caption, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.description.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.description.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.kind.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.kind, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.kind.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.kind, {'attr': {'class': 'form-control'}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.type.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.type, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.type.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.ratesystem.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.ratesystem, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.ratesystem.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.ratesystem, {'attr': {'class': 'form-control'}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.beginat.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.beginat, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.beginat.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.beginat, {'attr': {'class': 'form-control'}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.numpart.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.numpart, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.numpart.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.numpart, {'attr': {'class': 'form-control'}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        <hr>
        <em>Знаком <span class="text-danger">*</span> отмечены поля, обязательные для заполнения</em>
        <hr>
        <a href="{{ url('site_competitions_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад
        </a>
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Сохранить изменения
        </button>

        {% else %}
            {% set class = 'form-group' %}
            <div class="{{ class }}">
                {{ form_label(form.caption, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.caption, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
            </div>
            <div class="{{ class }}">
                {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
            </div>
            <div class="{{ class }}">
                {{ form_label(form.kind, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.kind, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
            </div>
            <div class="{{ class }}">
                {{ form_label(form.type, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.type, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
            </div>
            <div class="{{ class }}">
                {{ form_label(form.ratesystem, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.ratesystem, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
            </div>
            <div class="{{ class }}">
                {{ form_label(form.beginat, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.beginat, {'attr': {'class': 'form-control', 'disabled':'disabled', 'style':'display:none'}}) }}
                {{ view.competition.beginat|date ("d-m-Y h:s") }}
            </div>
            <div class="{{ class }}">
                {{ form_label(form.numpart, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.numpart, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
            </div>
        {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block body_additions %}

{% endblock %}