{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Соревнование{% endblock %}


{% block head_style %}
    p.bg-warning { padding: 15px; }
    .checkbox label { font-weight: bold; }
{% endblock %}

{% block body_content %}
    {% set competition = view.competition %}
    {% set step = 4 %}
    {% set form = forms.competition %}
    {% if competition is not empty %}
        <h1 class="page-header">{{ competition.caption|e }}</h1>
    {% else %}
        <h1 class="page-header">Новое соревнование</h1>
    {% endif %}
    {% include 'AppBundle:Competitions:competition_navigation.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <table class="table table-striped">
            <tr>
                <td>
                {% for competitor in form.activecompetitors %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 form-inline">
                                {{ form_label(competitor.user) }}
                                {{ form_widget(competitor.user, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 form-inline">
                                {{ form_label(competitor.result) }}
                                {{ form_widget(competitor.result, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 form-inline">
                                {{ form_label(competitor.place) }} <br />
                                {{ form_widget(competitor.place, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    Нет участников
                {% endfor %}
                </td>
                <td width="200px">
                    <button type="submit" class="btn btn-success" style="min-width: 170px; margin-top: 25px;">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Сохранить изменения
                    </button>
                </td>
            </tr>
        </table>
        <hr>
        <em>Знаком <span class="text-danger">*</span> отмечены поля, обязательные для заполнения</em>
        <hr>
        {{ form_end(form) }}

{% endblock %}

{% block body_additions %}

{% endblock %}