{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Соревнование{% endblock %}


{% block head_style %}
    p.bg-warning { padding: 15px; }
    .checkbox label { font-weight: bold; }
{% endblock %}

{% block body_content %}
    {% set competition = view.competition %}
    {% set step = 3 %}
    {% if competition is not empty %}
        <h1 class="page-header">{{ competition.caption|e }}</h1>
    {% else %}
        <h1 class="page-header">Новое соревнование</h1>
    {% endif %}
    {% include 'AppBundle:Competitions:competition_navigation.html.twig' %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Участник</th>
            <th>Место</th>
            <th>Результат</th>
        </tr>
        </thead>
        <tbody>
        {% for competitor in view.competitors %}
            <tr>
                <td>
                    {{ competitor.user.userfio|e }}
                </td>
                <td>
                    {{ competitor.place|e }}
                </td>
                <td>
                    {{ competitor.result|e }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    Результаты еще не выставлены
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />

{% endblock %}

{% block body_additions %}

{% endblock %}