{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Соревнования{% endblock %}

{% block head_additions %}
    <style>
        .td-actions { width: 60px; }
        .actions { display: none; }
    </style>
{% endblock %}


{% block body_content %}
    <div class="page">
        <div class="page-header"><h1>Соревнования</h1></div>
        {% set form = view.form %}
        {{ form_start(form, {'attr': {'class': 'form-full'}}) }}
        <table class="table table-striped">
            <tr>
                <td>
                    {{ form_label(form.caption, null, {'label_attr': {'class': 'control-label'}}) }}
                    {% if form.caption.vars.required %}<span class="text-danger">*</span>{% endif %}
                    {{ form_widget(form.caption, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                </td>
                <td >
                    {{ form_label(form.kind, null, {'label_attr': {'class': 'control-label'}}) }}
                    {% if form.kind.vars.required %}<span class="text-danger">*</span>{% endif %}
                    {{ form_widget(form.kind, {'attr': {'class': 'form-control'}}) }}
                </td>
                <td width="200px">
                    <button type="submit" class="btn btn-success" style="min-width: 170px;">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Применить Фильтр
                    </button>
                    <a href="{{ url('site_competitions_index') }}" class="btn btn-default" style="margin-top:5px;width: 170px;">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Сбросить Фильтр
                    </a>
                </td>

            </tr>

        </table>
        {{ form_end(form) }}
        {% include 'AppBundle:Competitions:pagination.html.twig' %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Вид спорта</th>
                <th>Дата и время начала</th>
                <th>Заявок (подтверждено)</th>
        {% if is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) %}
                <th>Состояние</th>
        {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for competition in view.competitions %}
                <tr>
                    <td>
                        <a href="{{ url('site_competitions_edit', {'competition': competition.id}) }}">
                            {{ competition.caption|e }}
                        </a>
                    </td>
                    <td>
                            {{ competition.kind.caption|e }}
                    </td>
                    <td>
                            {{ competition.beginat|date("d.m.Y h:m") }}
                    </td>
                    <td>
                        {{ competition.competitors|length }} ({{ competition.activecompetitors|length }})
                    </td>
                {% if is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) %}
                    <td>
                        {% if competition.active %}
                            Опубликовано <br/><a href="{{ url('site_competitions_unpublish', {'competition':competition.id}) }}">Снять с публикации</a>
                        {% else %}
                            Неопубликовано <br/><a href="{{ url('site_competitions_publish',  {'competition':competition.id}) }}">Опубликовать</a>
                        {% endif %}
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'AppBundle:Competitions:pagination.html.twig' %}
        {% if is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) %}
            <div>
            <a href="{{ url('site_competitions_add') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить новое соревнование
            </a>
            </div>
        {% endif %}
    </div>
{% endblock %}