{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Мои соревнования{% endblock %}


{% block head_style %}
    p.bg-warning { padding: 15px; }
    .checkbox label { font-weight: bold; }
{% endblock %}

{% block body_content %}
        <h1 class="page-header">Мои прошедшие соревнования</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Соревнование</th>
            <th>Дата и время соревнования</th>
            <th>Место</th>
            <th>Результат</th>
        </tr>
        </thead>
        <tbody>
        {% for competition in view.competitions %}
            <tr>
                <td>
                    <a href="{{ path('site_competitions_edit', {'competition': competition.id, 'step': 1}) }}">{{ competition.caption|e }}</a>
                </td>
                <td>
                    {{ competition.beginat|date("d.m.Y h:m:s") }}
                </td>
                <td>
                    {{ competition.place|e }}
                </td>
                <td>
                    {{ competition.result|e }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    Не было соревнований
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block body_additions %}

{% endblock %}