{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Заявки{% endblock %}


{% block head_style %}
    p.bg-warning { padding: 15px; }
    .checkbox label { font-weight: bold; }
{% endblock %}

{% block body_content %}
        <h1 class="page-header">Мои заявки на участие в соревнованиях</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Соревнование</th>
            <th>Дата и время подачи заявки</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for competitor in view.competitors %}
            <tr>
                <td>
                    <a href="{{ path('site_competitions_edit', {'competition': competitor.competition.id, 'step': 1}) }}">{{ competitor.competition.caption|e }}</a>
                </td>
                <td>
                    {{ competitor.createdAt|date("d.m.Y h:m:s") }}
                </td>
                <td>
                    {{ competitor.status.caption|e }} {% if  competitor.status.id>1  %}({{ competitor.modifiedat|date("d.m.Y h:m:s") }}){% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    Не было заявок
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block body_additions %}

{% endblock %}