{% if notice == 'added' %}
    <h4>Соревнование добавлено</h4>
    <p>Новое соревнование <b>"{{ caption|e }}"</b> было успешно добавлено.</p>
{% endif %}
{% if notice == 'changed' %}
    <h4>Соревнование изменено</h4>
    <p>Изменения соревнования <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}
{% if notice == 'publish' %}
    <h4>Соревнование опубликовано</h4>
    <p>Изменения соревнования <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}

{% if notice == 'unpublish' %}
    <h4>Соревнование снято с публикации</h4>
    <p>Изменения соревнования <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}

{% if notice == 'apply' %}
    <h4>Заявка принята</h4>
    <p>Заявка пользователя <b>"{{ competitor|e }}"</b> была одобрена.</p>
{% endif %}

{% if notice == 'cancel' %}
    <h4>Заявка отклонена</h4>
    <p>Заявка пользователя <b>"{{ competitor|e }}"</b> была отклонена.</p>
{% endif %}


{% if notice == 'addcompetitor' %}
    <h4>Заявка подана</h4>
    <p>Вы успешно подали заявку на соревнование <b>"{{ caption|e }}"</b>.</p>
{% endif %}




