{% if notice == 'auth_error' %}
    <h4>Неправильный логин или пароль</h4>
    <p>
        Проверьте правильность написания <strong>логина</strong> и <strong>пароля</strong>:
        <ul>
            <li>Возможно, нажата клавиша <kbd>Caps Lock</kbd>?</li>
            <li>Убедитесь, что включена правильная <strong>раскладка</strong> клавиатуры</li>
            <li>Попробуйте набрать пароль в текстовом редакторе и <strong>скопировать</strong> его в графу &laquo;Пароль&raquo;</li>
        </ul>
        Если вы уверены, что ни в чем не ошиблись, а войти все равно не удается, обратитесь, пожалуйста, в службу технической поддержки
        <a href="mailto:support@zakup.ru">support@zakup.ru</a>.
    </p>
{% endif %}