{% if notice == 'kind_added' %}
    <h4>Вид спорта добавлен</h4>
    <p>Новый вид спорта <b>"{{ caption|e }}"</b> был успешно добавлен.</p>
{% endif %}
{% if notice == 'kind_changed' %}
    <h4>Вид спорта изменен</h4>
    <p>Изменения вида спорта <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}
{% if notice == 'kind_removed' %}
    <h4>Вид спорта удален</h4>
    <p>Вид спорта <b>"{{ caption|e }}"</b> был удален из базы данных.</p>
{% endif %}

{% if notice == 'type_added' %}
    <h4>Вид соревнования добавлен</h4>
    <p>Новый вид соревнования <b>"{{ caption|e }}"</b> был успешно добавлен.</p>
{% endif %}
{% if notice == 'type_changed' %}
    <h4>Вид соревнования изменен</h4>
    <p>Изменения вида соревнования <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}
{% if notice == 'type_removed' %}
    <h4>Вид соревнования удален</h4>
    <p>Вид сореванования <b>"{{ caption|e }}"</b> был удален из базы данных.</p>
{% endif %}


{% if notice == 'ratesystem_added' %}
    <h4>Система оценивания добавлена</h4>
    <p>Новая система оценивания <b>"{{ caption|e }}"</b> была успешно добавлена.</p>
{% endif %}
{% if notice == 'ratesystem_changed' %}
    <h4>Система оценивания изменена</h4>
    <p>Изменения системы оценивания <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}
{% if notice == 'ratesystem_removed' %}
    <h4>Система оценивания удалена</h4>
    <p>Система оценивания <b>"{{ caption|e }}"</b> была удалена из базы данных.</p>
{% endif %}