{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Пользователи{% endblock %}

{% block head_additions %}
    <style>
        .td-actions { width: 60px; }
        .actions { display: none; }
    </style>
{% endblock %}


{% block body_content %}
    <div class="page">
        <div class="page-header"><h1>Пользователи</h1></div>
        {% set form = view.form %}
        {{ form_start(form, {'attr': {'class': 'form-full'}}) }}
        <table class="table table-striped">
            <tr>
                <td>
                    {{ form_label(form.username, null, {'label_attr': {'class': 'control-label'}}) }}
                    {% if form.username.vars.required %}<span class="text-danger">*</span>{% endif %}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                </td>
                <td >
                    {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                    {% if form.email.vars.required %}<span class="text-danger">*</span>{% endif %}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </td>
                <td >
                    {{ form_label(form.phone, null, {'label_attr': {'class': 'control-label'}}) }}
                    {% if form.phone.vars.required %}<span class="text-danger">*</span>{% endif %}
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                </td>
                <td> {{ form_label(form.role, null, {'label_attr': {'class': 'control-label'}}) }}
                    {% if form.role.vars.required %}<span class="text-danger">*</span>{% endif %}
                    {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}

                </td>
                <td width="200px">
                    <button type="submit" class="btn btn-success" style="min-width: 170px;">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Применить Фильтр
                    </button>
                    <a href="{{ url('site_users_index') }}" class="btn btn-default" style="margin-top:5px;width: 170px;">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Сбросить Фильтр
                    </a>
                </td>

            </tr>

        </table>
        {{ form_end(form) }}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Логин</th>
                <th>e-mail</th>
                <th>Телефон</th>
                <th>Роль</th>
            </tr>
            </thead>
            <tbody>
            {% for user in view.users %}
                <tr>
                    <td>
                        <a href="{{ url('site_users_edit', {'user': user.id}) }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.userfio|e }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('site_users_edit', {'user': user.id}) }}">
                            {{ user.username|e }}
                        </a>
                    </td>
                    <td>
                        {% if user.email is not empty %}<a href="mailto:{{ user.email|e }}">{{ user.email|e }}</a>{% else %} Нет данных {% endif %}
                    </td>
                    <td>{% if user.phone is not empty %}{{ user.phone|e }}{% else %} Нет данных {% endif %}</td>
                    <td>{{ user.roles[0].caption|e }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('site_users_add') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить пользователя
        </a>
    </div>
{% endblock %}