{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Справочники{% endblock %}

{% block head_additions %}
    <style>
        .td-actions { width: 60px; }
        .actions { display: none; }
    </style>
{% endblock %}


{% block body_content %}
    <div class="page">
        <div class="page-header"><h1>Справочники</h1></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Наименование</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ url('site_kinds_index') }}">
                            <span class="glyphicon glyphicon-ball" aria-hidden="true"></span> Виды спорта
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url('site_types_index') }}">
                            <span class="glyphicon glyphicon-ball" aria-hidden="true"></span> Виды соревнований
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url('site_ratesystems_index') }}">
                            <span class="glyphicon glyphicon-ball" aria-hidden="true"></span> Системы оценивания
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}