{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Виды спорта{% endblock %}

{% block head_additions %}
    <style>
        .td-actions { width: 60px; }
        .actions { display: none; }
    </style>
{% endblock %}


{% block body_content %}
    <div class="page">
        <div class="page-header"><h1>Виды спорта</h1></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Соревнований</th>
            </tr>
            </thead>
            <tbody>
            {% for kind in view.kinds %}
                <tr>
                    <td>
                        <a href="{{ url('site_kinds_edit', {'kind': kind.id}) }}">
                            <span class="glyphicon glyphicon-sport" aria-hidden="true"></span> {{ kind.caption|e }}
                        </a>
                    </td>
                    <td>{{ kind.competitions|length }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">
                        Нет данных
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('site_kinds_add') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить вид спорта
        </a>
    </div>
{% endblock %}