{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Системы оценивания{% endblock %}

{% block head_additions %}
    <style>
        .td-actions { width: 60px; }
        .actions { display: none; }
    </style>
{% endblock %}


{% block body_content %}
    <div class="page">
        <div class="page-header"><h1>Системы оценивания</h1></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Соревнований</th>
            </tr>
            </thead>
            <tbody>
            {% for ratesystem in view.ratesystems %}
                <tr>
                    <td>
                        <a href="{{ url('site_ratesystems_edit', {'ratesystem': ratesystem.id}) }}">
                            <span class="glyphicon glyphicon-sport" aria-hidden="true"></span> {{ ratesystem.caption|e }}
                        </a>
                    </td>
                    <td>{{ ratesystem.description|e }}</td>
                    <td>{{ ratesystem.competitions|length }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">
                        Нет данных
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('site_ratesystems_add') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить систему оценивания
        </a>
    </div>
{% endblock %}