{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Виды соревнований{% endblock %}

{% block head_additions %}
    <style>
        .td-actions { width: 60px; }
        .actions { display: none; }
    </style>
{% endblock %}


{% block body_content %}
    <div class="page">
        <div class="page-header"><h1>Виды соревнований</h1></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Соревнований</th>
            </tr>
            </thead>
            <tbody>
            {% for type in view.types %}
                <tr>
                    <td>
                        <a href="{{ url('site_types_edit', {'type': type.id}) }}">
                            <span class="glyphicon glyphicon-sport" aria-hidden="true"></span> {{ type.caption|e }}
                        </a>
                    </td>
                    <td>{{ type.description|e }}</td>
                    <td>{{ type.competitions|length }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">
                        Нет данных
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('site_types_add') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить вид соревнования
        </a>
    </div>
{% endblock %}