{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Вид соревнования{% endblock %}


{% block head_style %}
    p.bg-warning { padding: 15px; }
    .checkbox label { font-weight: bold; }
{% endblock %}

{% block body_content %}
    {% set type = view.type %}

    {% if type is not empty %}
        <h1 class="page-header">{{ type.caption|e }}</h1>
    {% else %}
        <h1 class="page-header">Новый вид соревнования</h1>
    {% endif %}

    <div class="page" style="max-width:700px;margin-top:25px;">

        {% set form = forms.type %}
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        {% set errors = form.caption.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.caption, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.caption.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.caption, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.description.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.description.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        <hr>
        <em>Знаком <span class="text-danger">*</span> отмечены поля, обязательные для заполнения</em>
        <hr>
        <a href="{{ url('site_types_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад
        </a>
        {% if type is not empty %}
            <a href="{{ url('site_types_remove', {'type': type.id}) }}" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить
            </a>
        {% endif %}
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Сохранить изменения
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block body_additions %}

{% endblock %}